html, body {
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    height: auto; 
    min-height: 100%;
}

.clear {
    clear: both;
}

.main-footer {
    text-align: center;
}

.register-logo img, .logo-lg img {
    width: 180px;
    height: 50px;
}

.wrapper {
    height: auto; 
    min-height: 100%
}

.login-page {
    background: #d2d6de;
}

.btn-vk {
    background: #507299;
}

.navbar-right .header-vk-icon {
    padding: 10px 10px 10px 10px;
}

.navbar-right .header-vk-icon img {
    height: 30px;
}

.navbar-nav>li>a {
    padding-top: 14px;
    padding-bottom: 14px;
}

.sidebar-toggle {
    font-size: 14px;
}

.form-control { 
    border-radius: 5px;
}

.sidebar-filter li {
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar-filter .sidebar-menu {
    overflow: visible;
}

.sidebar-filter button {
    background-color: rgb(221, 221, 221);
}

.content-container {
    padding-top: 15px;
}

.caption span { 
    display: block; 
}

.caption .name { 
    font-weight: bold; 
    margin-bottom: 5px; 
    color: #3c8dbc;
}

.strong-underline {
    text-decoration: underline;
}

.thumbnail {
    height: 420px;
}

.thumbnail .image-preview {
    position: relative;
}

.thumbnail img {
    width: 100%;
    cursor: pointer;
}

.thumbnail .caption {
    padding: 3px 0 0 0;
}

.thumbnail .icon-panel {
    
    float: right;
}

.thumbnail .address {
    position: absolute;
    display: block;
    top: 20px;
    color: white;
    background: #c15b5b;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 7px;
}

.thumbnail .address .address-marker {
    margin-right: 7px;
}

.thumbnail .address a {
    color: #fff;
}

.thumbnail .caption .intro {
    overflow: hidden;
}

.thumbnail .caption .intro a {
    color: #333;
}

.share-icon {
    font-size: 18px;
    display: inline-block;
    padding: 0px 6px 2px 6px;
    color: black;
}

.date-label-area {
    padding: 0 15px;
    margin-bottom: 10px;
}

.date-label {
    border-radius: 5px;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    color: #444;
    font-weight: bold;
}

.main-header-compact {
    display: none;
    z-index: 1030;
    background: #d2d6de;
    color: #444;
    position: fixed;
    width: 100%;
    color: #444;
}

.main-header-compact .sidebar-toggle {
    padding: 5px 10px;
}

.main-header-compact a, .main-header-compact .sidebar-toggle:hover { 
    color: #444;
}

.menu-element-compact { 
    display: block;  
    float: left;
    padding: 5px 10px;
    font-size: 14px;
}

.main-sidebar{
    position: fixed;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom: 5%;
    right: 5%;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    margin-right: 5px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255,255,255,0.7);
}

.select2-container .select2-selection--single {
    min-height: 32px;
}

.img_preview {
    margin-top: 10px;
}

.select2-container {
  width: 100% !important;
}

.filter-active-params {
    color: black;
    font-weight: bold;
}

#login .checkbox label {
    padding-left: 0px;
}

.add-event-not-register {
    margin-bottom: 10px;
    font-size: 20px !important;
}
.add-event-not-register button {
    font-size: 15px;
}
.add-event-not-register i  {
    font-size: 16px;
}

.nav>li>a.add-not-register:focus, .nav>li>a.add-not-register:hover {
    background-color: #008d4c !important;
}

.draft-checkbox-label {
    padding-left: 0px !important;
    margin-left: 0px !important;
    font-weight: bold !important;
}
.form-control[readonly]  {
    background: white;
}

.custom-load-layout {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
}
.custom-load-layout img {
    position: relative;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.full-info-modal-caption span {
    margin-bottom: 7px;
}

.isDraftLink {
    margin-top: 10px;
    margin-bottom: 10px;
}

.isDraftLink span {
    position: relative;
    top: 2px;
}

.full-info-modal-intro {
    margin-top: 7px;
}

.breadcrumb li {
    display: block;
}

.breadcrumb>li+li:before {
    content: "";
    padding: 0;
}

.payment-small, .payment-large {
    text-align: center;
}

.payment-small {
    display: none;
}

.more-load-btn {
    text-align: center;
    padding-bottom: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .thumbnail {
        height: 450px;
    }
}

@media (max-width: 991px) {
    .main-header .navbar-right a.add-not-register {
        background-color: #00a65a;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .thumbnail {
        height: 390px;
    }
}


@media (max-width: 850px) {
    .navbar-right .header-vk-icon img {
        height: 30px;
    }
    .navbar-right .header-vk-icon {
        padding: 10px 0 10px 0;
    }
}

@media (min-width: 700px) and (max-width: 767px) {
    .thumbnail {
        height: 470px;
    }
}

@media (min-width: 650px) and (max-width: 699px) {
    .thumbnail {
        height: 450px;
    }
}

@media (min-width: 600px) and (max-width: 649px) {
    .thumbnail {
        height: 425px;
    }
}

@media (min-width: 550px) and (max-width: 599px) {
    .thumbnail {
        height: 415px;
    }
}

@media (min-width: 500px) and (max-width: 549px) {
    .thumbnail {
        height: 400px;
    }
}

@media (min-width: 451px) and (max-width: 499px) {
    .thumbnail {
        height: 390px;
    }
}

@media (max-width: 450px) {
    .card {
        width: 100%;
    }
    .thumbnail {
        height: auto;
    }
}


@media (max-width: 370px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 545px) {
    .navbar-right .header-vk-icon img {
        height: 20px;
    }
    .navbar-right .header-vk-icon {
        padding: 12px 0 12px 0;
    }
}

@media (max-width: 515px) {
    .point-type-menu, .filter-menu {
        display: none !important;
    }
    .sidebar-category-links {
        display: none;
    }
    .sidebar .slimScrollDiv {
        display: none;
    }
    .sidebar-filter {
        display: block;
    }
    .payment-small {
        display: block;
    }
    .payment-large {
        display: none;
    }
}

@media (max-width: 440px) {
    .full-info-modal {
        width: 100%;
    }
    
    .full-info-modal-caption {
        margin-top: 10px;
    }
}

@media (min-width: 516px) {
    .point-type-menu, .filter-menu {
        display: block !important;
    }
    .sidebar-filter {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) { 
    .collapse {
        display: block;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        background: #fff;
        border: 1px solid rgba(0,0,0,.15);
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #777;
    }
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .skin-blue .main-header .navbar .dropdown-menu li.divider {
        background-color: #eee;
    }

    .navbar-nav>li>a {
        padding-top: 13px;
        padding-bottom: 13px;
    }

}

